.vscode/c_cpp_properties.json
.vscode/settings.json
bin/clean.exe
bin/libfreetype-6.dll
bin/libjpeg-9.dll
bin/libpng16-16.dll
bin/libtiff-5.dll
bin/libwebp-7.dll
bin/LICENSE.freetype.txt
bin/LICENSE.jpeg.txt
bin/LICENSE.png.txt
bin/LICENSE.tiff.txt
bin/LICENSE.webp.txt
bin/LICENSE.zlib.txt
bin/mario.c
bin/mario.exe
bin/SDL2_image.dll
bin/SDL2_ttf.dll
bin/sdl2-config
bin/SDL2.dll
bin/test.exe
bin/zlib1.dll
include/SDL/begin_code.h
include/SDL/close_code.h
include/SDL/desktop.ini
include/SDL/SDL_assert.h
include/SDL/SDL_atomic.h
include/SDL/SDL_audio.h
include/SDL/SDL_bits.h
include/SDL/SDL_blendmode.h
include/SDL/SDL_clipboard.h
include/SDL/SDL_config.h
include/SDL/SDL_cpuinfo.h
include/SDL/SDL_egl.h
include/SDL/SDL_endian.h
include/SDL/SDL_error.h
include/SDL/SDL_events.h
include/SDL/SDL_filesystem.h
include/SDL/SDL_gamecontroller.h
include/SDL/SDL_gesture.h
include/SDL/SDL_haptic.h
include/SDL/SDL_hints.h
include/SDL/SDL_image.h
include/SDL/SDL_joystick.h
include/SDL/SDL_keyboard.h
include/SDL/SDL_keycode.h
include/SDL/SDL_loadso.h
include/SDL/SDL_log.h
include/SDL/SDL_main.h
include/SDL/SDL_messagebox.h
include/SDL/SDL_metal.h
include/SDL/SDL_mouse.h
include/SDL/SDL_mutex.h
include/SDL/SDL_name.h
include/SDL/SDL_opengl_glext.h
include/SDL/SDL_opengl.h
include/SDL/SDL_opengles.h
include/SDL/SDL_opengles2_gl2.h
include/SDL/SDL_opengles2_gl2ext.h
include/SDL/SDL_opengles2_gl2platform.h
include/SDL/SDL_opengles2_khrplatform.h
include/SDL/SDL_opengles2.h
include/SDL/SDL_pixels.h
include/SDL/SDL_platform.h
include/SDL/SDL_power.h
include/SDL/SDL_quit.h
include/SDL/SDL_rect.h
include/SDL/SDL_render.h
include/SDL/SDL_revision.h
include/SDL/SDL_rwops.h
include/SDL/SDL_scancode.h
include/SDL/SDL_sensor.h
include/SDL/SDL_shape.h
include/SDL/SDL_stdinc.h
include/SDL/SDL_surface.h
include/SDL/SDL_system.h
include/SDL/SDL_syswm.h
include/SDL/SDL_test_assert.h
include/SDL/SDL_test_common.h
include/SDL/SDL_test_compare.h
include/SDL/SDL_test_crc32.h
include/SDL/SDL_test_font.h
include/SDL/SDL_test_fuzzer.h
include/SDL/SDL_test_harness.h
include/SDL/SDL_test_images.h
include/SDL/SDL_test_log.h
include/SDL/SDL_test_md5.h
include/SDL/SDL_test_memory.h
include/SDL/SDL_test_random.h
include/SDL/SDL_test.h
include/SDL/SDL_thread.h
include/SDL/SDL_timer.h
include/SDL/SDL_touch.h
include/SDL/SDL_ttf.h
include/SDL/SDL_types.h
include/SDL/SDL_version.h
include/SDL/SDL_video.h
include/SDL/SDL_vulkan.h
include/SDL/SDL.h
include/SDL/structure.h
include/desktop.ini
lib/libSDL2_image.a
lib/libSDL2_image.dll.a
lib/libSDL2_image.la
lib/libSDL2_test.a
lib/libSDL2_test.la
lib/libSDL2_ttf.a
lib/libSDL2_ttf.dll.a
lib/libSDL2_ttf.la
lib/libSDL2.a
lib/libSDL2.dll.a
lib/libSDL2.la
lib/libSDL2main.a
lib/libSDL2main.la
lib/cmake/SDL2/sdl2-config-version.cmake
lib/cmake/SDL2/sdl2-config.cmake
lib/pkgconfig/SDL2_image.pc
lib/pkgconfig/SDL2_ttf.pc
lib/pkgconfig/sdl2.pc
